# Configuration file

####################
# block
####################

block {
    I:papayablockID=3965
    I:papayasaplingID=3966
    I:papayastorageID=3967
}


####################
# general
####################

general {
    I:papayacropfoodrestore=1
    I:treerarity=2
}


####################
# item
####################

item {
    I:papayaID=15708
}


